<div class="container my-5">
  <h1 class="text-center">Libmoji testing app</h1>
  <div class="row justify-content-md-center my-5">
    <div class="col col-lg-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item d-flex">
          <span class="w-50 my-2">Gender</span>
          <div class="w-50">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.gender === 0"
              (click)="setGender(0)">Male
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.gender === 1"
              (click)="setGender(1)">Female
            </button>
          </div>
        </li>

        <li class="list-group-item list-group-item d-flex">
          <span class="w-50 my-2">Style</span>
          <div class="w-50">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.style === 0"
              (click)="setStyle(0)">0
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.style === 1"
              (click)="setStyle(1)">1
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.style === 2"
              (click)="setStyle(2)">2
            </button>
          </div>
        </li>

        <li class="list-group-item list-group-item d-flex">
          <span class="w-50 my-2">Pose</span>
          <div class="w-50">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              [class.active]="preview$.value.pose === 'fashion'"
              (click)="setPose('fashion')">fashion
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm mx-1"
              [class.active]="preview$.value.pose === 'head'"
              (click)="setPose('head')">head
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              [class.active]="preview$.value.pose === 'body'"
              (click)="setPose('body')">body
            </button>
          </div>
        </li>
        <li class="list-group-item list-group-item">
          <label class="d-flex" [for]="trait['key']" *ngFor="let trait of traits; let i = index">
            <span class="my-2 w-50">{{trait['key']}}</span>
            <select class="form-control w-50" [id]="trait['key']" (change)="setTrait(trait['key'], $event.target['value'])">
              <option
                *ngFor="let option of trait['options']"
                [selected]="trait['key'] === preview$.value.traits[i][0] && option['value'] === preview$.value.traits[i][1]">{{option['value']}}
              </option>
            </select>
          </label>
        </li>
        <li class="list-group-item list-group-item">
          <label class="d-flex">
            <span class="my-2 w-50">Outfit</span>
            <select class="form-control w-50" (change)="setOutfit($event.target['value'])">
              <option
                *ngFor="let o of outfit; let i = index"
                [selected]="false">{{o['id']}}
              </option>
            </select>
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-auto">
      <div class="preview" [class.loader]="loader">
        <img
          [src]="previewUrl"
          (load)="loader = false"
          alt="Libmoji testing app">
        <div class="overlay" *ngIf="loader">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
